.cart {
	padding: 0px 40px 80px 40px;
}

.cart__startsection {
	margin-top: 40px;
	margin-bottom: 30px;

	h1 {
		font-size: 24px;
	}
}

.goBack {
	text-align: right;
	margin: 35px 120px 0 0;
	font-size: 24px;
}
